<html>
<head>
    <title>Weather Across Time - Ken Dingel CSE115 Project 2</title>
    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="Visuals.js"></script>
    <style>
        body, div{
            height: 100%;
            background: #25303D;
            color: white;
}
    </style>
</head>

<body onload="loadVisuals();">

<div id="LineGraph">Requesting Data from API, please wait! :)</div>


<div id="Pie"></div>
<div>CSE115 Ken Dingel Project 2</div>
</body>
</html>